@using Traversal.NetProject.Areas.Member.Models
@model UserEditViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Profil Düzenleme Sayfası</h1>

<form method="post" enctype="multipart/form-data"> <!--enctype="multipart/form-data resim yolunu datadan çekmek için ekledik-->
    @Html.Label("Adınız")
    <input type="text" asp-for="name" class="form-control"/>
    <br />
    @Html.Label("Soyadınız")
    <input type="text" asp-for="surname" class="form-control"/>
    <br />
    @Html.Label("Mail Adresiniz")
    <input type="email" asp-for="email" class="form-control"/>
    <br />
    @Html.Label("Şifreniz")
    <input type="text" asp-for="password" class="form-control"/>
    <br />
    @Html.Label("Şifre Tekrarı")
    <input type="text" asp-for="confirmPassword" class="form-control"/>
    <br />
    @Html.Label("Telefon Numaranız")
    <input type="phone" asp-for="phoneNumber" class="form-control"/>
    <br />
     <div class="form-group">
         <label>Resim Seçiniz</label>
         <input type="file" asp-for="Image">
     </div>
     <br />
     <button class="btn btn-outline-primary">Bilgileri Güncelle</button>
</form>

