@using EntityLayer
@model List<Destination>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rotalar</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Şehir</th>
        <th>Gün Sayısı</th>
        <th>Fiyat Bilgisi</th>
        <th>Kapasite</th>
        <th>Sitede Gör</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
      <tr>
        <th>@item.DestinationID</th>
        <td>@item.City</td>
        <td>@item.DayNight</td>
        <td>@item.Price$</td>
        <td>@item.Capacity</td>
        <td><a href="/Destination/DestinationDetails/@item.DestinationID" class="btn btn-outline-primary">Sitede Gör</a></td>
        <td><a href="/Admin/AdminDestination/DeleteDestination/@item.DestinationID" class="btn btn-outline-danger">Sil</a></td>
        <td><a href="/Admin/AdminDestination/UpdateDestination/@item.DestinationID" class="btn btn-outline-success">Güncelle</a></td>
      </tr>
    }
</table>
<a href="/Admin/AdminDestination/AddDestination" class="btn btn-outline-primary">Yeni Tur Rotası</a> 
<!--Bu adres bizi addDestinationa yönlendirecek ve bu kaydetme işlemleri o indexin içine yazıldı.-->